{% extends 'base.html' %}

{% block title %}
  Home
{% endblock title %}

{% block body %}

<!-- Navbar -->


  <!-- Main content -->
  <div class="container content">
    <h1>Update Your TODO </h1>


  <div class="container">
    <form action="/update/{{todo.sno}}" method="post">
      <div class="mb-3">
        <label for="title" class="form-label">TODO TITLE</label>
        <input type="text" class="form-control" name="title" id="title" value = "{{todo.title}}" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">TODO Description</label>
        <input type="text" class="form-control" value = "{{todo.desc}}" name="desc" id="desc"> 
      </div>
      <button type="submit" class="btn btn-outline-dark btn-sm mx-1">UPDATE</button>
    </form>
  </div>

  <!-- COMPLETE Bootstrap JS bundle (was cut off) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>


{% endblock body %}